@import "fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mario', sans-serif;
    font-weight: 400;
    background: #529afd;
    position: relative;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.usernameInput {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.usernameInput:focus {
    outline: none;
}

.info {
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 100;
    background: transparent;
    justify-content: space-around;
}

.info span {
    font-size: 25px;
}

.df {
    display: flex;
}

.dn {
    display: none;
}

.jcc {
    justify-content: center;
}
.fdc {
    flex-direction: column;
}


.selected {
    transform: scale(1.05);
    filter: drop-shadow(0px 10px 4px rgb(0 0 0 / 50%));
}

.floor {
    background: url("/assets/img/block.png") repeat;
    width: 100%;
    position: absolute;
    z-index: 100;
    height: 10vh;
    bottom: 0;
    background-size: contain;
    image-rendering: pixelated;
}

.pause {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    color: white;
    background: rgb(0 0 0 / .5)
}

.panel {
    width: 100%;
    height: 100%;
    position: relative;
}

.start-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.characterChoose {
    background: coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
}

.characterChoose > h1 {
    font-size: 50px;
}

.characterChoose > form {
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.characterChoose .character {
    width: 80px;
    image-rendering: pixelated;
    transition: .3s;
}

.characters {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.btn {
    padding: 10px 20px;
    border:none;
    background: orange;
    font-family: 'Mario', sans-serif;
    width: 100%;
}

.mario {
    background: url("/assets/img/mario-stay.png") center no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}
.run1 {
    background: url("/assets/img/mario-walks1.png") center no-repeat !important;
    background-size: cover !important;
    image-rendering: pixelated;
}

.run2 {
    background: url("/assets/img/mario-walks2.png") center no-repeat !important;
    background-size: cover !important;
    image-rendering: pixelated;
}

.run1l {
    background: url("/assets/img/luigi-walks1.png") center no-repeat !important;
    background-size: cover !important;
    image-rendering: pixelated;
}

.run2l {
    background: url("/assets/img/luigi-walks2.png") center no-repeat !important;
    background-size: cover !important;
    image-rendering: pixelated;
}

.reverse {
    transform: rotateY(180deg);
}

.luigi {
    background: url("/assets/img/luigi-stay.png") center no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.element {
    position: absolute;
}

.gump {
    background: url("/assets/img/gumb-enemy.png") center no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.turtle {
    background: url("/assets/img/turtle.png") center no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

.platform {
    background: url("/assets/img/platform.png") center no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}